<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.lw.bitcoinexplorer1112background.dao.DetailMapper">

  <resultMap id="BaseResultMap" type="io.lw.bitcoinexplorer1112background.po.Detail">
    <result column="tx_detail_id" jdbcType="CHAR" property="txDetailId" />
    <result column="transaction_id" jdbcType="INTEGER" property="transactionId" />
    <result column="address" jdbcType="CHAR" property="address" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="amount" jdbcType="VARCHAR" property="amount" />
  </resultMap>
  <insert id="insert" parameterType="io.lw.bitcoinexplorer1112background.po.Detail">
    insert into detail (tx_detail_id, transaction_id, address, 
      type, amount)
    values (#{txDetailId,jdbcType=CHAR}, #{transactionId,jdbcType=INTEGER}, #{address,jdbcType=CHAR}, 
      #{type,jdbcType=VARCHAR}, #{amount,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="io.lw.bitcoinexplorer1112background.po.Detail">
    insert into detail
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="txDetailId != null">
        tx_detail_id,
      </if>
      <if test="transactionId != null">
        transaction_id,
      </if>
      <if test="address != null">
        address,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="amount != null">
        amount,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="txDetailId != null">
        #{txDetailId,jdbcType=CHAR},
      </if>
      <if test="transactionId != null">
        #{transactionId,jdbcType=INTEGER},
      </if>
      <if test="address != null">
        #{address,jdbcType=CHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="amount != null">
        #{amount,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>

  <select id="getDetailByTransactionId" resultMap="BaseResultMap">
    select
    *
    from detail
    where transaction_id = #{transactionId}
  </select>
</mapper>